{{ include('header.html.twig') }}

{% block body %}
   <a href="{{path('app_individuel_index')}}"><button class="btn btn-primary">Client</button></a>
   <a href="{{path('app_individuel_new')}}"><button class="btn btn-primary">Nouveau</button></a>
{% endblock %}

{{ include('footer.html.twig') }}