<form method="post" action="{{ path('app_agence_delete', {'id': agence.id}) }}" onsubmit="return confirm('Vous etes sur pour supprimer agence {{ agence.NomAgence }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agence.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> </button>
</form>
