{% extends "base.html.twig" %}

{% block title %} Modification  Agences {% endblock %}
{% block head %}
     Modification Agences
{% endblock %}

{% block body %}
    
    <a href="{{ path('app_agence_index') }}" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Voir listes agence </a>
    {{ include('Module_client/agence/_form.html.twig', {'button_label': 'Update'}) }}    
{% endblock %}