{% extends "base.html.twig" %}

{% block title %} Nouveau Agences {% endblock %}
{% block head %}
     Nouveau Agences
{% endblock %}

{% block body %}

    <a href="{{ path('app_agence_index') }}" class="btn btn-primary btn-sm ms-5"><i class="fa fa-eye"></i> Agence existe</a>

    {{ include('Module_client/agence/_form.html.twig') }}

</div>
{% endblock %}