<form method="post" action="{{ path('app_etude_delete', {'id': etude.id}) }}" onsubmit="return confirm('Vous etes sur pour supprimer le niveau : {{ etude.niveau}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etude.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
