{% extends "base.html.twig" %}

{% block title %} Nouveau clients liste rouge {% endblock %}
{% block head %}
     Nouveau clients liste rouge
{% endblock %}

{% block body %}

    <div class="shadow g-0 rounded p-5">
        <a href="{{ path('app_liste_rouge_index') }}"  class="btn btn-primary btn-sm "><i class="fa fa-user"></i> Individuel</a>
        <a href="{{ path('app_liste_rougegroupe_index') }}"  class="btn btn-success btn-sm"><i class="fa fa-users"></i> Groupe</a>
        {{ include('Module_client/liste_rouge/formgroupe.html.twig') }}
    </div>

{% endblock %}