{{ include('header.html.twig') }}

{% block body %}
<h4 class="text-primary text-center">Modification du {{ Groupe.nomGroupe }}</h4>
    {{ include('Module_client/groupe/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}

{{ include('footer.html.twig') }}
