{% extends "base.html.twig" %}

{% block head %}  Dasboard Fidev  {% endblock %}

{% block body %}
   <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores est recusandae doloribus, maiores, ipsa dignissimos nulla numquam ex magni velit voluptas. Esse iure nobis quibusdam doloribus nihil beatae, minima nulla!
   </p>
{% endblock %}