{{ include('header.html.twig') }}

{% block body %}
    <a href="{{ path('app_config_ep_index') }}" class="btn btn-success"><i class="fa fa-eye"></i> Voir Liste</a>
    {{ include('Configuration/config_ep/_form.html.twig') }}
{% endblock %}

{{ include('footer.html.twig') }}
